<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fortune Wheel | AppSorteos</title>
  <link rel="stylesheet" href="../styles/style.css" type="text/css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

</head>
<body>
  <main id="app">
    <div class="wheel-container">
      <div class="logo-container">
        <img class="logo" draggable="false" src="../assets/logomc.png" alt="logomc">
      </div>
      <h1>¡McFortune Wheel! </h1>
      <table>
        <tr>
          <td>
            <div class="power_controls">
              <br />
              <table>
                <div class="segment-inputs">
                  <input type="text" v-model="segments[0].text">
                  <input type="text" v-model="segments[1].text">
                  <input type="text" v-model="segments[2].text">
                  <input type="text" v-model="segments[3].text">
                  <input type="text" v-model="segments[4].text">
                  <input type="text" v-model="segments[5].text">
                </div>
                <button @click="girar">Play</button>

              </table>
              <br />
              <img class="spin-image" src="../assets/wheel-back.png" draggable="false" alt="Spin" onClick="startSpin();" />
            </div>
          </td>
          <td width="438" height="582" class="the_wheel" v>
            <canvas id="canvas" width="434" height="434">
              <p>Sorry, your browser doesn't support canvas. Please try another.</p>
            </canvas>
          </td>
        </tr>
      </table>
    </div>
    <div id="premio-ganador">
      El premio ganador es: {{ premioSeleccionado }}
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="../../Winwheel.js"></script>
  <script src="../scripts/app.js"></script>
</body>
</html>
